    body{
        background-color: #96bdc9;
    }
    div.menudiv{
        position:relative;
    } 
    li.txt{
        font-size: 24px;
        color: white;
        display: inline;
        position: relative;
        padding: 18px 12px;
    }
    li.menu{
        font-size: 24px;
        color: white;
    }
    li.txt a{
        color: inherit; /* 移除超連結顏色 */
        text-decoration: none;  /* 移除超連結底線 */
    }
    li.menu a{
        color: inherit; /* 移除超連結顏色 */
        text-decoration: none;  /* 移除超連結底線 */
    }
    li.txt a:link{
        color:white;
    }
    ul.txt {
        background-color:#1c5f74;
        text-align:center ;
        margin: 0%;
        padding: 0%;
        list-style: none;
        position: fixed;
        left: 0%;
        top:0%;
        width: 100%;
        font-size: 24px;
    }
    .menu {
        padding: 16px;
        font-size: 24px;
        cursor: pointer; /* 滑鼠游標的形狀*/
        position: relative;
        display: inline-block;
    }
    .menu-content {
        border-radius: 5px; /*圓角*/
        display: none;
        position: absolute;
        background-color: white;
        color:black;
        min-width: 100px;
        z-index: 1;
        font-size: 20px;
    }
    .menu-content a {
        border-radius: 5px; 
        color: black;
        padding: 10px 12px;
        display: block; /*游標下顏色*/
    }
    .menu-content a:hover {background-color: #fd976b}
    .menu:hover .menu-content {display: block;}
    li.txt a:hover {
        background-color: #1c5f74;
    }
    .contentdiv{
        text-align: center;
        background-color: white;
        margin: 0% 300px 0% 300px;
        padding: 0px 10px 0px 10px;
    }
